#logo-headshot{
    width:  20%;
    border-radius: 50%;
    height: auto;
    border: none;
    vertical-align: middle;
}

.navbar {
    background: #074d5fcc;
    padding-left: 20px;
    padding-right: 30px;
}

.nav-link,
.navbar-brand {
    color: #fff;    
    cursor: pointer;
}

.nav-link {
    margin-right: 1.7em !important;
    color: #fff;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.644);
}

.navbar-collapse {
    justify-content: flex-end;
}

body {
    padding: 0;
    margin: 0;
    background: #cfcfcfad;
}

#main-text-block {
    padding-top: 20px;
    margin: auto;
    width: 80%;
    text-align:  center;
}

#main-text-block h1 {
    font-weight: bold;
}

.projects-container {
    padding: 20px;
    margin: auto;
    width: 90%
}

.card {
    margin-bottom: 30px;
}
.classtable {
    border: #000000;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.titlerow {
    background-color: #cfcfcfad;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
.year {
    background-color: #e4dedead;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    justify-content: center;
}
.class {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.classes {
    background-color: #e4dedead;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
.socialcard {
    display: flex;
    justify-content: center;
}

.socialbar {
    width: 70%;
}

.socialcardinside {
    display: flex;
    justify-content: center;
    background-color: #6cb7cacc;
    border-style: solid;
    border-radius: 15%;
}

.socialbar a{
    text-decoration:  none;
    color: black;
    padding: 20px;
}

.resumeinfo {
    padding-top: 100px;
}